# Use the FTDI driver for the CC3200
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0451", ATTRS{idProduct}=="c32a", MODE:="0660", RUN+="/sbin/modprobe ftdi-sio", RUN+="/bin/sh -c ’/bin/echo 0451 c32a > /sys/bus/usb-serial/drivers/ftdi_sio/new_id’"

# Create the /dev/cc0 and /dev/cc1 symlinks for the bootloader scripts
ACTION!="add", GOTO="cc3200_end"
SUBSYSTEM!="tty" GOTO="cc3200_end"

ATTRS{idVendor}=="0451", ATTRS{idProduct}=="c32a", GOTO="cc3200_rules_begin"
GOTO="cc3200_end"
LABEL="cc3200_rules_begin"

ATTRS{bInterfaceNumber}=="00", SYMLINK:="cc0"
ATTRS{bInterfaceNumber}=="01", SYMLINK:="cc1"

LABEL="cc3200_end"
